{:enums
 {:RecordType
  {:description "The type of a record."
   :values [:address :profile :custom_key]}}

 :objects
 {:RecordsInfo
  {:description "Record info of a bit account."
   :fields
   {:account_id {:type (non-null String)
                 :description "Hash of account"}
    :account {:type (non-null String)}
    :key {:type String}
    :type {:type String}
    :label {:type String}
    :value {:type String}
    :created_at {:type (non-null String)}
    :updated_at {:type String}
    :parent_account_id {:type String}}}}

 :queries
 {:record_info_by_account
  {:type (list :RecordsInfo)
   :descriptiong "Access record info by its account, if any"
   :args {:account {:type String}}
   :resolve :query/record-info-by-account}}
}
